@primaryBackground: #4FB34F;
@primaryPale1: 		#6EC56E;
@primaryPale2:		#63C563;
@primaryStrong: 	#1A751A;
@primaryDirty: 		#14E874E;

@secondaryBackground: 	#DF6262;
@secondaryPale1: 		#E78181;
@secondaryPale2:		#E77575;
@secondaryStrong: 		#922121;
@secondaryDirty: 		#A86161;

@import url(http://fonts.googleapis.com/css?family=Englebert);
