@import "colors.less";
#header
{
	background: @primaryBackground;
	width: 100%;
	margin: 0;
}

#header div.info
{
	float: right;
}

#header div.quick
{
	float: left;
}

#header ul
{
	list-style: none;
	margin: 0;
}

#header ul li
{
	float: left;
}

#header div.clear
{
	clear: both;
}
